body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #0a0a0a;
    color: rgb(255, 255, 255);
  }
  .Begin{
    padding: 120px 20px;
    text-align: center;
    background: linear-gradient(to right, #00dff8, #ff688b);
  }
  .Begin h2{
     font-size: 90px;
     color:#0a0a0a;
  }
  .Begin p{
    font-size: 20px;
     color:#0a0a0a;
  }
  .video{
    background-color: #161616;
    padding: 80px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  .video h1{
    margin:0;
  }
  .video-box
  {
    box-shadow: 0 0 25px rgba(97, 255, 223, 0.869);
    flex: 1 1 100px;
    position: relative;
    height: 0;
    padding-bottom: 315px;
    max-width: 560px;
  }
  .video-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width:560px;
    height:315px; 
    border: 0;
    border-radius: 12px;
  }
  .description{
    flex: 1 1 400px;
    max-width: 500px;
  }
  .description h1{
    font-size: 50px;
    flex: 1 1 400px;
    margin-bottom: 15px;
  }
  .description p{
    font-size: 1.1rem;
    color: #ccc;
    line-height: 1.6;
  }

  .article{
    padding: 40px 20px;
    background-color: #092629;
  }
  .article h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .link{
    text-decoration: none;
    color:inherit;
    flex: 1 1 30%;
  }
  .articles-header {
    text-align: center;
    margin-bottom: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .articles-header h2 {
    font-size: 2.5rem;
    background: linear-gradient(to right, #00f8c2, #ff5ca6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
  }

  .articles-header p {
    color: #ccc;
    font-size: 1.1rem;
    line-height: 1.6;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }
  .card-arrow {
    font-size: 25px;
    color: #00f8c2;
    margin-top: 15px;
    transition: transform 0.2s ease;
    position: absolute;
    bottom: 15px;
    right: 20px;
  }
  .article-box {
    background: linear-gradient(145deg, #1a1a1a, #111);
    flex: 1 1 30%;
    border-radius: 16px;
    padding: 20px;
    border: 1px solid #222;
    box-shadow: 0 0 12px rgba(0, 255, 204, 0.05);
    transition: transform 0.3s ease;
    position: relative;
    padding-bottom: 40px;
    overflow: hidden;
  }

  .article-box:hover {
    box-shadow: 0 0 20px rgba(0, 255, 204, 0.2);
  }

  .article-box h3 {
    color: #ff5ca6;
    font-size: 1.5rem;
    margin-bottom: 12px;
  }

  .article-box p {
    font-size: 1rem;
    color: #ddd;
    line-height: 1.5;
  }
  .article-image {
    width: 100%;
    height: 180px;
    border-radius: 8px;
    margin-bottom: 15px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  }