* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #141414;
}

h2 {
    text-align: center;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 10px;
}

.form-container {
    background: #023535;
    padding: 20px;
    border-radius: 8px;
    width: 340px;
    height: 410px;
}

.messageLabel {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
.form-container textarea {
    width: 94%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.submitButton {
    width: 100%;
    padding: 10px;
    background: #0CABA8;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}
.submitButton button:hover {
    background: #0CABA8;
}