<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>About Us</title>
   <link rel="stylesheet" href="../static/styles.css" />
   <link rel="stylesheet" href="../static/aboutus.css" />


</head>
<body>
   <nav class="navbar">
       <div class="navbar__container">
           <a href="/" id="navbar__logo">RON SMITHEY</a>
           <div class="navbar__toggle" id="mobile-menu">
               <span class="bar"></span>
               <span class="bar"></span>
               <span class="bar"></span>
           </div>
           <ul class="navbar__menu">
               <li class="navbar__item">
                   <a href="home" class="navbar__links">Home</a>
               </li>
               <li class="navbar__item">
                   <a href="resources" class="navbar__links">Resources</a>
               </li>
               <li class="navbar__item">
                   <a href="services" class="navbar__links">Services</a>
               </li>
               <li class="navbar__btn">
                   <a href="signup" class="button">Sign Up</a>
               </li>
           </ul>
       </div>
   </nav>


   <h1>About Us</h1>
   <section>
       <h2>Our Mission</h2>
       <p>At Ron Smithey Financial Services, we believe that knowledge is the foundation of financial confidence. That’s why we provide a curated selection of articles to empower you with up-to-date insights on retirement planning, saving strategies, and smart investments. Whether you're just getting started or refining your financial goals, these resources are designed to help you make informed, strategic decisions every step of the way.</p>
   </section>
  
   <section>
       <h2>Ron Smithey's Story</h2>


       <p>Ronnie’s journey as a Financial Advisor began over 23 years ago. He entered the financial field because he wanted to help
           individuals and business owners build, protect, and distribute their financial wealth. After all these years in the industry
           he continues to be passionate about helping his clients navigate their financial journeys from college saving plans, long term
           care and retirement.  Ronnie is well versed in all of the latest trends which enables him to successfully guide his clients
           through the highs and lows of economic cycles. He considers himself a partner in his clients financial journey, and continuously
           works towards building the strong foundations of a secure financial future. When he is not advising clients he enjoys spending
           time with his wife and four children. He is an active member in the local church and he volunteers his free time to his local
           Little League, having been a baseball coach for over 6 years and serving on the board for three years as the vice president and
           coaching coordinator.</p>
   </section>


   <section>
       <h2>Career History</h2>

       <p>
           Ronnie has been in the career field of financial advising since 2003. He is currently a registered representative with LPL Financial,
           an independent Broker/Dealer and Registered Investment Advisor (August 2005-Present) He was a former financial advisor for Trilogy
           Financial Services Inc., a Registered Investment Advisory firm (August 2002-July 2005).
       </p>
   </section>


   <section>
       <h2> Education </h2>
       <p>
           BA Economics, University of Redlands </p>
        <p>Minor in Business, University of Redlands </p>
   </section>