<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ron Smithey Financial Services</title>
    <link rel="stylesheet" href="../static/resources.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <!-- NAVBAR SECTION -->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo">RON SMITHEY</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="home" class="navbar__links">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="resources" class="navbar__links">Resources</a>
                </li>
                <li class="navbar__item">
                    <a href="services" class="navbar__links">Services</a>
                </li>
                <li class="navbar__btn">
                    <a href="signup" class="button">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- HERO SECTION -->
    <div class="main">
        <div class="main__container">
            <div class="main__content">
                <h1>RESOURCES</h1>
                <h2>CONTROL YOUR FINANCES</h2>
                <p>Use your client portal to access exclusive insights unique to your portfolio</p>
                <button class="main__btn"><a href="/signup.html">Get Started</a></button>
            </div>
            <div class="main__img--container">
                <img src="{{url_for('static', filename='/images/online-articles.svg')}}" alt="homepage image" id="main__img">
            </div>
        </div>
    </div>

    <!-- Calculator Tabs -->
    <div class="calculator">
        <h1>Need help? Use our calculators.</h1>
        <div class="calculator__container">
            <div class="calculator__card">
                <h2>Mortgage Calculator</h2>
                <p>Your first step to becoming a home owner.</p>
                <a href = "mortgagecalculator"><button>Explore</button></a>
            </div>
            <div class="calculator__card">
                <h2>Loan Calculator</h2>
                <p>Stay informed on life's biggest decisions.</p>
                <a href = "loancalculator"><button>Explore</button></a>
            </div>
            <div class="calculator__card">
                <h2>Savings Calculator</h2>
                <p>Stay ready for big changes, big time.</p>
                <a href = "savingscalculator"><button>Explore</button></a>
            </div>
        </div>
    </div>

     <!-- Footer Section -->
     <div class="footer__container">
        <div class="footer__links">
            <div class="footer__link--wrapper">
                <div class="footer__link--items">
                    <h2>About Us</h2>
                    <a href="/">Meet the Team</a>
                    <a href="/">Testimonials</a>
                    <a href="/">Location</a>
                    <a href="privacy">Privacy Policy & Terms of Service</a>
                </div>
            </div>
                    <div class="footer__link--wrapper">
            <div class="footer__link--items">
                <h2>Contact Us</h2>
                <p class="footer__contact-text">Ron Smithey</p>
                <p class="footer__contact-text">ronniedeansmithey<br>@yahoo.com</p>
                <p class="footer__contact-text">714-202-9858</p>
                <p class="footer__contact-text">5101 East La Palma Avenue, Suite #202-D<br>Anaheim Hills, CA 92807</p>
            </div>

            <div class="footer__link--wrapper">
                <div class="footer__link--items">
                    <h2>Social Media</h2>
                    <a href="https://x.com/RonSmitheyLPL">X</a>
                    <a href="https://www.linkedin.com/in/ron-smithey/">LinkedIn</a>
                    <a href="https://www.youtube.com/@RonSmithey">YouTube</a>
                </div>
            </div>
        </div>
        <div class="social__media">
            <div class="social__media--wrap">
                <div class="footer__logo">
                    <a href="/" id="footer__logo">Ron Smithey</a>
                </div>
                <p class="website__rights">&copy; Ron Smithey Financial Services 2025</p>
                <div class="social__icons">
                    <a href="/" class="social__icon--link" target="blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="/" class="social__icon--link" target="blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="/" class="social__icon--link" target="blank">
                        <i class="fa fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
     </div>

    <!--<script src="app.js"></script>-->
</body>
</html>