<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ron Smithey Financial Services</title>
    <link rel="stylesheet" href="../static/signup.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Sign In / Sign Up Button Section -->
    <div class="form__container">
        <div class="form__img--container">
            <img src="{{url_for('static', filename='/images/access-account.svg')}}" alt="sign up page image" id="form__img">
        </div>
        <form autocomplete="off" class="form" method="POST">
                <p class="form__title">Register</p>
                <p class="form__message">Sign up now and get full access to our client portal</p>
                <div class="form__group">
                    <label>
                        <input type="text" name="firstname" id="firstname-input" placeholder="First Name" required>
                        <input type="text" name="lastname" id="lastname-input" placeholder="Last Name" required>
                    </label>
                </div>
                <div>
                    <label>
                        <input type="email" name="email" id="email-input" placeholder="Email" required>
                    </label>
                <div>
                    <label>
                        <input type="password" name="password" id="password-input" placeholder="Password" required>
                    </label>
                </div>
                <div>
                    <label>
                        <input type="password" name="confirm_password" id="confirm_password-input" placeholder="Confirm Password" required>
                    </label>
                </div>
                <button class="form__submit" type="submit">
                    Submit
                </button>
                <p class="form__signin">
                    Already have an account?
                    <a href="signin" class="form__signin--link">Sign In</a>
                </p>

                {% if error %}
                    <div class = "error">
                        {{ error }}
                    </div>
                {% endif %}

        </form>
    </div>
    <!--<script src="app.js"></script>-->
</body>
</html>