<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dashboard - Ron Smithey Financial</title>
  <link rel="stylesheet" href="../static/styles.css" />
  <link rel="stylesheet" href="../static/clientportal.css" />
  <link rel="stylesheet" href="../static/tools.css" />
</head>
<body>
  <header class="portal-header">
    <h1>Tools</h1>
    <p>Use these tools exclusive to your portfolio insights for enhanced assistance</p>
  </header>
  <div class="portal-container">
    <aside class="portal-sidebar">
      <nav>
        <ul>
          <li><a href="dashboard" class="active">Dashboard</a></li>
          <li><a href="portfolio">Portfolio</a></li>
          <li><a href="statements">Statements</a></li>
          <li><a href="tools">Financial Tools</a></li>
          <li><a href="messages">Messages</a></li>
          <li><a href="logout">Logout</a></li>
        </ul>
      </nav>
    </aside>
    <main class="portal-main">
        <h2>Financial Tools</h2>
        <p>Use these tools to plan, calculate, and assess your financial goals.</p>
        <ul>
          <li><a href="retirementcalc">Retirement Calculator</a></li>
          <li><a href="budgetbuilder">Budget Builder</a></li>
          <li><a href="risktolerance">Risk Profile Assessment</a></li>
        </ul>
      </main>          
  </div>
  <footer class="portal-footer">
    <p>&copy; 2025 Ron Smithey Financial Services</p>
  </footer>
</body>
</html>